.statistic-page {
    .main-statistic-container {
        background-color: $base-color;
        width: 90%;
        margin: 20px auto;
        border-radius: 10px;
        color: $text-color;
        padding: 10px;
    }
    
    .main-statistic_title {
        padding-top: 10px;
        margin-left: 3%;
        line-height: 55px;
        font-size: 3rem;
        font-weight: bold;
        @include media-phone {
            font-size: 2rem;
            line-height: 30px;
            text-align: center;
        }
    }
    
    .main-statistic-chart {
        width: 90%;
        max-height: 400px;
        border-radius: 10px;
        margin: 20px auto;
        background-color: rgba(255, 255, 255, 0.5);
        canvas {
            width: 100%;
            max-height: 400px;
        }
    }
    
}


