.authorization-page {
  .title {
    font-size: 30px;
  }

  .autologin-background {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 99998;
    text-align: center;
    background-image: url(../assets/images/backgrounds/authorization-page.jpg);
  }

  .spin-autolog {
    color: white;
    position: absolute;
    top: 50%;
  }

  .form {
    display: flex;
    justify-content: center;
    background-size: cover;
  }
  .form-container {
    font-weight: 500;
    margin: 80px auto 0 auto;
    width: 44%;
    height: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
  }

  .form-container-header {
    display: flex;
    height: 50px;
    background-color: rgba(182, 74, 90, 0.4);
    border-radius: 10px 10px 0 0;
  }

  .login-bookmark {
    width: 40%;
    margin: auto;
    height: 100%;
    cursor: pointer;
    text-align: center;
    box-shadow: inset -13px -21px 12px -22px rgba(0, 0, 0, 0.67);
    text-decoration: underline;
    &.active {
      background-color: rgba(182, 74, 90, 0.66);
      text-decoration: none;
      border-radius: 10px 10px 0 0;
      box-shadow: 3px -2px 5px -3px rgba(0, 0, 0, 0.8);
    }
    &:not(.active) {
      &:hover {
        filter: drop-shadow(4px -1px 6px black);
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .login-bookmark-title {
    transform: translateY(40%);
  }

  .signin-bookmark {
    width: 60%;
    height: 100%;
    margin: auto;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    box-shadow: inset 3px -21px 12px -22px rgba(0, 0, 0, 0.67);
    &.active {
      background-color: rgba(182, 74, 90, 0.66);
      border-radius: 10px 10px 0 0;
      text-decoration: none;
      box-shadow: -3px -2px 5px -3px rgba(0, 0, 0, 0.8);
    }
    &:not(.active) {
      &:hover {
        filter: drop-shadow(4px -1px 6px black);
        border-radius: 10px 10px 0 0;
      }
    }
  }

  .signin-bookmark-title {
    transform: translateY(40%);
  }

  h1 {
    cursor: help;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #53025a;
  }
  form {
    font-weight: 500;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background: rgba(182, 74, 90, 0.8);
    display: none;
    border-radius: 0 0 10px 10px;
    &.active {
      display: block;
    }
  }
  .group {
    display: flex;
    margin-bottom: 10px;
    padding: 3px;
  }

  input {
    height: 40px;
    width: 100%;
    border-radius: 0 10px 10px 0;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  }

  input:focus {
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.7);
    outline: none;
  }
  button {
    &:not(.close) {
      background: rgba(182, 74, 90, 1.8);
      border-radius: 10px;
      margin-top: 10px;
      cursor: pointer;
      height: 40px;
      padding: 0 25px;
      color: #fff;
      border: none;
      text-transform: uppercase;
      font-size: 18px;
      box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
      &:hover {
        font-weight: 700;
        filter: drop-shadow(0px 0px 0px black);
        opacity: 1;
      }
    }
  }

  span {
    &.material-icons {
      width: 40px;
      background: rgba(182, 74, 90, 1);
      border-radius: 10px 0 0 10px;
      height: 40px;
      padding: 8px;
      font-size: 25px;
      text-align: center;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.8);
    }
  }

  .error,
  .password-error,
  .error-login {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    display: block;
    color: red;
  }
  .spin-reg,
  .spin-log {
    display: none;
    margin: 10px;
  }
  .close {
    width: 40px;
    height: 40px;
    text-align: center;
    color: red;
  }
  .alert-warning {
    margin-top: 20px;
    display: none;
    background: rgba(182, 74, 90, 0.7);
    box-shadow: 0px 0px 7px 0px red;
  }
  .span-close {
    top: -5px;
    right: 5px;
    font-size: 40px;
    font-weight: 500;
  }
  @media all and (max-width: 767px) {
    .form {
      display: flex;
      flex-direction: column;
    }
    .form-container {
      width: 90%;
      margin: 20px auto;
    }
  }
}
