  
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="team.scss">
  <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
  <title>Team-страница</title>
</head>
<body>
  <div class='wrapper'>
    <h1 class="title">Наша команда</h1>   
    <div class="team">   
        <div class="person">
            <img class="person__image" src="../../assets/images/konstantin.jpg" alt="Konstantin">
            <div class="describe-person">
                <h3 class="person__title">Константин A</h3>
                <p class="person__position">Team Lead</p>
                <p class="person__phrase">Суровый руководитель. "Мозг" проекта.</p>
                <p class="person__contribution">Руководство всем проектом, весь beck-end держится на его могучих плечах, а также игра "SpeakIt"</p>
            </div>
        </div>    
        <div class="person">
            <img class="person__image" src="../../assets/images/ira.jpg" alt="Ira">
            <div class="describe-person">
                <h3 class="person__title">Ирина</h3>
                <p class="person__position">Дизайнер-разработчик</p>
                <p class="person__phrase">Наша краса и гордость. Хочешь сделать что-то красиво - доверься ей.</p>
                <p class="person__contribution">Отвечает за весь дизайн проекта. Главная страница полностью на её совести</p>
            </div>
        </div>    
        <div class="person">
            <img class="person__image" src="../../assets/images/vlad.jpg" alt="Vlad">
            <div class="describe-person">
                <h3 class="person__title">Влад Фурманов</h3>
                <p class="person__position">Ведущий разработчик</p>
                <p class="person__phrase">"Всё быстро, качественно и в срок" - его лозунг.</p>
                <p class="person__contribution">Отвечает за разработку мини-игр "Саванна" и "Аудиовызов"</p>

            </div>
        </div>
        <div class="person">
            <img class="person__image" src="../../assets/images/ura.jpg" alt="Yury">
            <div class="describe-person">
                <h3 class="person__title">Юрий Vashchanchuk</h3>
                <p class="person__position">Разработчик</p>
                <p class="person__phrase">Мастер вопросов.</p>
                <p class="person__contribution">Отвечает за разработку мини-игры "Спринт" и "Мастер фраз"</p>
            </div>
        </div>    
        <div class="person">
            <img class="person__image" src="../../assets/images/roma.jpg" alt="Roman">
            <div class="describe-person">
                <h3 class="person__title">Роман Левкович</h3>
                <p class="person__position">Разработчик</p>
                <p class="person__phrase">Уверенный любитель статистики</p>
                <p class="person__contribution">Отвечает за страницу статистики</p>
            </div>
        </div>
        <div class="person">
            <img class="person__image" src="../../assets/images/alex.png" alt="Alex">
            <div class="describe-person">
                <h3 class="person__title">Алексей Стельмах</h3>
                <p class="person__position">Разработчик</p>
                <p class="person__phrase">Что-то пытается делать и даже иногда получается</p>
                <p class="person__contribution">Отвечает за страницы авторизации и "О команде", промо-страницу.</p>
            </div>
        </div>
      </div>
    </div>  
</body>
</html>