.game-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s;
  color: $speakit-page-base-color;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: transparentize(theme-color('light'), 0.5);
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
  z-index: 1;
  max-width: 830px;
  top: 10px;

  &.hidden {
    opacity: 0;
    z-index: -1;
  }

  &__image {
    max-height: 284px;
    min-height: 284px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.2s ease-in-out;
    width: 100%;
  }

  &__translation {
    min-height: 32px;
    background-color: transparentize(theme-color('light'), 0.5);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
  }

  &__buttons-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
