.game-speakit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - #{$main-menu-height});
  overflow-y: auto;
  position: relative;

  & .modal-backdrop {
    height: 100vh;
  }

  @import 'variables';
  @import 'startPage';
  @import 'gamePage';
  @import 'spinner';
  @import 'wordButton';
}
