.navbar {
  transition: background-color $page-transition-delay ease;
  user-select: none;
  z-index: 1000;
}

.navbar-main {
  position: fixed;
  width: 100%;
  background-color: rgba(83, 140, 173, 0.49);
}

.navbar-brand {
  user-select: none;
}

.nav-link {
  transition: color $page-transition-delay ease;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: $menu-inactive-color;

  &:hover {
    color: $menu-hover-color;
  }
}
.navbar-dark .navbar-nav .nav-link.active {
  color: $menu-active-color;
}
