.navbar-main {
  position: fixed;
  width: 100%;
  background-color: rgba(83, 140, 173, 0.49);
}

.navbar-brand {
  user-select: none;
}
.nav-link {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);
}
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
}
