@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');
@import 'bootstrap';

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0px;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  background-image: url('https://cdn.discordapp.com/attachments/720542468520673301/722870699370479659/3643a446463165.585530c44d950.jpg');
  background-position: center;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
  border: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: 100px auto;
  transition: 0.2s linear;
}

.spinner {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
}

.sr-only {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 4rem;
  height: 4rem;
  z-index: 100;
}

.spinner-border {
  position: absolute;
  top: 45%;
  left: 48%;
  width: 35px;
  height: 35px;
}

// Start Page ________________________________

.intro {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  margin-top: -150px;
  height: 300px;
  text-align: center;
  right: 0;
  left: 0;
}

.title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 60px;
  color: rgba(36, 5, 71, 0.57);
  opacity: 0.8;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 13px;
}

.subTitle {
  max-width: 565px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: rgb(31, 8, 138);
  opacity: 0.8;
}

.level-select {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 60px;
  color: rgba(48, 2, 100, 0.57);
  opacity: 0.9;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 5px;
}

.start {
  width: 120px;
  margin-left: 10px;
}

.learn-words {
  width: 190px !important;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-correct {
  color: rgba(34, 247, 6, 0.726);
}
.material-icons.md-cancel {
  color: rgba(250, 6, 6, 0.712);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: rgba(255, 255, 255, 0.678);
}
.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.678);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  outline: none;
  user-select: none;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.correct {
  display: none;
  position: absolute;
  top: 2px;
  left: -20px;
}

.cancel {
  display: none;
  position: absolute;
  top: 2px;
  left: -20px;
}


/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-22 {
  font-size: 22px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-100 {
  font-size: 100px;
}

// Button______________________________

.btnBlock {
  display: flex;
  justify-content: center;
  height: 70px;
  margin-top: 50px;
}

.btn {
  width: 100px;
  height: 40px;
  background-color: #f85307;
  &:hover {
    background-color: #09f1d2;
  }
}

// Result ______________________________________________

.resultBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.translate-block {
  text-align: start;
  color: #ffffff;
  font-size: 20px;
  margin-top: 20px;
  vertical-align: middle;
}

// Statistic_______________________________________

.statistic-block {
  height: auto;
  width: 400px;
  border-radius: 10px;
  background-color: rgba(252, 249, 249, 0.747);
  margin: 0 auto;
}

.statistic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.statistic-title {
  text-align: center;
  font-size: 1.8rem;
  color: #00000098;
  width: 100%;
}

.statistic-subtitle {
  font-size: 1.2rem;
  color: #00000098;
  padding-bottom: 20px;
}

.final-slider {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 100%;
  max-width: 542px;
  margin-top: 0;
  position: relative;
  overflow: auto;
  border-radius: 10px;
}

.final {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.final.valid {
  margin-top: 10px;
}

.final-answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  margin-left: 60px;
  position: relative;
}

.final-audio {
  margin-right: 5px;
  cursor: pointer;
  border-radius: 100px;
}

.material-icons.md-22 {
  font-size: 22px;
  position: absolute;
  top: 0px;
  left: -20px;
}

.final-answer-eng {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #2582e7;
  margin-right: 6px;
  cursor: pointer;
  word-break: normal;
  max-width: calc(50% - 54px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.final-answer-ru {
  font-size: 16px;
  line-height: 1.25;
  color: #37383c;
  flex-grow: 1;
  word-break: normal;
  max-width: calc(50% - 54px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.final-answer-tr {
  margin-right: 6px;
}

.final-correct,
.final-error {
  font-size: 16px;
  margin-left: 20px;
  span {
    font-size: 16px;
  }
}

.final-error {
  color: #b60707;
}

.final-correct {
  color: #2b7e0b;
}

.final-line {
  width: 100%;
  height: 1px;
  background-color: rgba(55, 56, 60, 0.12);
  margin-top: 10px;
}

.final-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 150px;
  background-color: #f85307;
}

.main {
  position: relative;
  text-align: center;
  font-family: 'roboto', sans-serif;
}
.wrapper {
  margin: -170px auto 0;
}
.points {
  font-size: 50px;
  font-weight: 700;
  color: green;
  margin: 0 auto;
}
.game-block {
  width: 450px;
  height: 380px;
  border: 10px violet solid;
  border-radius: 20px;
  margin:  0 auto;
  background: white;
}

.dotsBlock {
  width: 100%;
  height: 50px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}
.dots {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: gray;
  margin: 10px 5px 15px;
}
.backViolet {
  background-color: violet;
}
.backYellow {
  background-color: yellow;
}
.backBlue {
  background-color: blue;
}
.backPink {
  background-color: pink;
}
.backOrange {
  background-color: orange;
}
.backRed {
  background-color: red;
}
.green {
  background-color: green;
}
.img-game {
  width: 100px;
  height: 100px;
  margin: 10px auto 0;
}
.engWord,
.rusWord {
  margin-top: -15px;
  font-family: 'roboto', sans-serif;
  height: 50px;
  font-size: 25px;
  font-weight: 500;
  display: block;   
}
.checkOk,
.checkFalse {
position: relative;
margin: 0 auto;
left: 0;
top: 20px;
display: none;
}
.button {
  font-size: 20px;
  justify-content: center;
}
.button-false,
.button-true {
  margin: -40px 40px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  background: rgba(146, 85, 215, 0.57);
  border-color: rgba(146, 85, 215, 0.57);
  opacity: 1;
}
.button-false:hover,
.button-true:hover {
  opacity: 0.6;
}
.btn-false,
.btn-true {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  background: whitesmoke;
  margin: 20px 40px;
  opacity: 0.7;
}

.btn-true {
  margin-right: 40px;
}
.btn-false:before {
  content: '\2B05';
  line-height: 20px;
}
.btn-true:before {
  content: '\27A1';
  line-height: 20px;
}
.volume {
  font-size: 55px;
  color: rgba(146, 85, 215, 0.57);
}
.audio-block {
  position: relative;
  top: -180px;
  left:0px;
  width: 30px;
  height: 30px;
}
.timer {
  margin: 200px auto;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color: rgba(40, 0, 87, 0.57);
  display: block;
}
.game-timer {
  position: relative;
  top: 160px;
  left: 350px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  color:  rgba(40, 0, 87, 0.57);
  display: block;
}
