@import 'variables';

.settings-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(100vh - #{$main-menu-height});
  overflow-y: auto;

  .controls-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  @import 'settingsBlock';
//  @import 'switch';
  @import 'spinner';
  @import 'modal';
  @import 'controlBlock';
}
