input.custom-control-input:checked ~ .custom-control-label {
  &:after,
  &:before {
    background-color: lighten($settings-page-base-color, 5);
    border-color: lighten($settings-page-base-color, 5);
  }
  &:before {
    background-image: linear-gradient(
      lighten($settings-page-color, 20),
      $settings-page-color
    );
  }
}
.custom-switch
  input.custom-control-input:active:checked:not(:disabled)
  ~ .custom-control-label:after {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 0 9px transparentize($settings-page-color, 0.2);
}
.custom-switch
  input.custom-control-input:focus:checked:not(:disabled)
  ~ .custom-control-label:after {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 0 9px transparentize($settings-page-color, 0.2);
}
.custom-switch
  input.custom-control-input:hover:checked:not(:disabled)
  ~ .custom-control-label:after {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 0 9px transparentize($settings-page-color, 0.2);
}
