@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/materia/bootswatch';
@import '~swiper/swiper';
@import 'variables';
@import 'toaster/toaster';
@import './main-page/navbar';
@import './promo-page/style.scss';
@import './game-page/_allgames';
@import './dictionary-page/main';
@import './team-page/style.scss';
@import './phrase-wizard-page/phrase-wizard-game.scss';
@import './autorization-page/style.scss';
@import 'game-AudioCall/style.scss';
@import 'game-savannah/style.scss';

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  transition: background-image $page-transition-delay ease,
    opacity $page-transition-delay ease;
  opacity: 1;
  background-attachment: fixed;

  &.hidden {
    opacity: 0;
  }
}

.main-container {
  padding-top: $main-menu-height;
  width: 100%;
  transition: $page-transition-delay / 2;
}