@import '~bootstrap';
@import 'variables';
@import 'toaster/toaster';
@import './main-page/navbar';
@import './game-page/_allgames';
@import './team-page/style.scss';
@import './autorization-page/style.scss';
// @import 'game-AudioCall/style.scss';
@import './main-page/startMain';

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  transition: background-image $page-transition-delay ease,
    opacity $page-transition-delay ease;
  opacity: 1;
  background-attachment: fixed;

  &.hidden {
    opacity: 0;
  }
}

.main-container {
  padding-top: 175px;
  width: 100%;
  transition: $page-transition-delay / 2;
}
