.main {
    text-align: center;
    font-family: 'roboto', sans-serif;
  }
.points {
    font-size: 70px;
    color: green;
    margin: 0 auto;
}
.game-timer {
    font-size: 50px;
    margin: -20px auto 0;
    border-radius: 20px;
}
.game-block {
    width: 500px;
    height: 450px;
    border: 10px black solid;
    border-radius: 20px;
    margin:  0 auto;
    background: white;

}
.dotsBlock {
    width: 100%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    background: blueviolet;
    text-align: center;
    justify-content: center;
}
.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: gray;
    margin: 10px 5px 15px;
}
.img-game {
    width: 100px;
    height: 100px;
    margin: 10px auto 0;
}
.engWord,
.rusWord {
    margin-top: -15px;
    font-family: 'roboto', sans-serif;
    height: 50px;
    font-size: 50px;
    font-weight: 500;
    display: block;   
}
.engWord1 {
    display: block;
}
.engWord2 {
    display: none;
}
.rusWord1 {
    display: block;
}
.rusWord2 {
    display: none;
}
.engWord {
    margin: 0 auto 20px;
}
.checkOk,
.checkFalse {
position: relative;
margin: 0 auto;
left: 0;
top: 20px;
display: none;
}
.button {
    font-size: 20px;
    justify-content: center;
}
.button-false,
.button-true {
    margin: 40px 40px;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background: blue;
    opacity: 1;
}
.button-false:hover,
.button-true:hover {
    opacity: 0.7;
}
.btn-key {
    margin: 20px auto; 
}
.btn-false,
.btn-true {
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: whitesmoke;
    margin: 40px;
    opacity: 0.7;
}
.btn-false:hover,
.btn-true:hover {
    opacity: 1;
}

.btn-true {
    margin-right: 0px;
}
.btn-false:before {
    content: '\2B05';
    line-height: 20px;
}
.btn-true:before {
    content: '\27A1';
    line-height: 20px;
}
  
  .time {
      position: relative;
      top: -450px;
      left: 435px;
      width: 100px;
      height: 100px;
    font-size:50px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    color: black;
    display: block;
  }
  span {
      background: none;
  }