%icon-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 50px;
}
.dictionary.container {
  & .play-button {
    background-image: url('/assets/images/icons/volume_up-24px-white.svg');
    @extend %icon-button;
    &:hover,
    &.active {
      background-image: url('/assets/images/icons/volume_up-24px-gray.svg');
    }
    &.playing {
      background-image: url('/assets/images/icons/volume_up-24px-red.svg');
    }
  }

  & .edit-button {
    background-image: url('/assets/images/icons/create-24px-white.svg');
    @extend %icon-button;
    &:hover,
    &.active {
      background-image: url('/assets/images/icons/create-24px-gray.svg');
    }
  }
}
