@import 'variables';
@import 'scrollbar';
@import 'buttons';
@import 'modal';

.dictionary.container {
  & .table-container {
    max-height: calc(100vh - #{$main-container-padding-top});
    width: min-content;
    background-color: $dictionary-page-color;
    margin: 0 auto;
  }
  & th {
    &.sortable {
      cursor: pointer;
    }
    &.sort-asc::after{
      content: 'A';
    }
    &.sort-desc::after{
      content: 'D';
    }
  }
}
