.modal-body {
  display: grid;
  grid-template-columns: 120px auto;
  gap: 5px;

  & .word-image {
    grid-column: 1 /3;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
  }

  & .progress {
    margin: auto 0;
  }
}

.modal-footer {
  .btn {
    min-width: 80px;
  }
}

.modal-header {
  .badge {
    vertical-align: top;
    font-size: 0.4em;
    margin-left: 5px;
  }
}
